.logo-header {
  text-align: center;
  padding: 15px;
  background-color: white;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  padding: 5px;
  box-shadow: 0 0 12px rgba(59, 174, 224, 0.5);
  animation: titilar 1.2s infinite alternate;
}

/* Animación de brillo azul titilante */
@keyframes titilar {
  0% {
    box-shadow: 0 0 10px rgba(35, 114, 204, 0.9);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 20px rgba(23, 143, 223, 1);
    transform: scale(1.05);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    transform: scale(1);
  }
}
